# Default ignored files
/../../hospital mangment system /.idea/shelf/
/../../hospital mangment system /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../hospital mangment system /.idea/httpRequests/
# Datasource local storage ignored files
/../../hospital mangment system /.idea/dataSources/
/../../hospital mangment system /.idea/dataSources.local.xml
